{{define "company_recommend"}}
    {{range .}}
        <div class="col-md-4 col-xs-12">
            <a id="top-company" rel="nofollow" data-method="put" href="#">
                <div class="top-company__logo text-center">
                    <img src={{.Logo}} alt={{.Name}} width="170">
                </div>
                <div class="top-company__name text-center">{{.Name}}</div>
                <footer class="top-company__footer text-center">
                    <span class="top-company__footer-jobs">
                        <span class="red-link">X Jobs</span>
                        <span>&nbsp;-&nbsp;</span>
                    </span>
                    <span class="top-company_footer-city">{{.Country}}</span>
                </footer>
            </a>
        </div>
    {{end}}
{{end}}
