{{define "content"}}
<div class="wrapper" style="background-color: #D3D3D3">
	<div class ="container" style="margin-top: 3.6em;background-color: white">
		<div class="row" >
			<div class="show-content">
				<div class ="main-content">
					<div class="content">
						<div class="col-md-4" style="border: 1px solid #D8D8D8;border-right: 0">
							<div class="side_bar">
								<div class="inside">
									<div class="logo">
										<a href="#" title="VNG" ><img src="img/company-logo/vng-logo.png" width="100%" height="200"></a>
									</div>
									<div class="emloyer-info">
										<div class="name" style="text-align: center;">
											<a href="#" title="VNG">VinaGame</a>
										</div>
										<div class="basic-info">
											<div class="short">VNG là công ty công nghệ Việt Nam, thành lập năm 2004. VNG có 3 mảng sản phẩm chính: nội dung số bao gồm tin tức, đào tạo và giải trí trực tuyến, liên kết cộng đồng và thương mại điện tử.</div>

											<span class="glyphicon glyphicon-cog"></span>
											<span class="kind" style="padding-right: 230px">Product</span>
											<span class="glyphicon glyphicon-user"></span>
											<span class="people" style="padding-right: 230px">300-500</span>
											<span class="glyphicon glyphicon-calendar"></span>			
											<span class="calendar" style="padding-right: 160px">Monday to Friday</span>
											<span class="glyphicon glyphicon-time"></span>			
											<span class="OT">No OT</span>						
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-8" style="border: 1px solid #D8D8D8;">
							<div class="job-detail" >
								<div class="header">
									<div class="job-info">
										<h1 class="job_title">Product Owner</h1>
										<div class="tab-list">
											<a class="job__skill ilabel" href="#">
												<span>PHP</span>
											</a>
											<a class="job__skill ilabel" href="#">
												<span>HTM5</span>
											</a>
											<a class="job__skill ilabel" href="#">
												<span>AngularJS</span>
											</a>
										</div>
										<div class="clearfix"></div>
										<div class="salary">
											<span class="glyphicon glyphicon-usd"></span>
											<span class="salary-text"> Up to 1500$ </span>                                             
										</div>
										<div class="address">
											<span class="glyphicon glyphicon-map-marker"></span>
											<span class="address__full-address" >Ho Chi Minh , District 11, Le Dai Hanh St </span>
										</div>
                                		<span class="glyphicon glyphicon-calendar"></span>			
										<span class="calendar">23h ago</span>		
                                		<div class=clearfix></div>
                                		<hr />
									</div>
								</div>
								<div class="job_reason_to_join_us">
									<h2 class="title">Top 3 Reason to Join Us</h2>
									<div class="top-3-reason">
										<ul>
											<li>A special working environment </li>
											<li>Learning opportunity </li>
											<li>Not just a job, where to build your career </li>
										</ul>
									</div>
								</div>
								<div class=job_description>
									<div class="title-apply-line">
										<h2 class="title">The Job</h2>
									</div>
									<div class="description">
										<p>Responsible for the product planning and execution based on life cycle and vertical business, including:</p>
										<div>
											<ul>
												<li>Conducting market & user research, to get deeply insight on market & user behaviors. </li>
												<li>Responsible for full product development tasks such as analyzing, conceptualizing, prototyping for product.</li>
												<li>Responsible for interfacing with other teams in the company to break down business requirements to smaller deliverable.</li>
												<li>Work closely with BI team to formulate strategic insights and propose action plan to achieve business objectives.</li>
											</ul>
										</div>
									</div>	
								</div>
								<div class="skills-experience">
									<h2 class="title">Your Skill And Experience</h2>
									<div class="experience">
										<ul>
											<li>Have a ‘Will-do’ attitude & start-up spirit.</li>
											<li>Experienced working on Internet technology product company.</li>
											<li>Ability to think critically, analyze and solve problems with a strong attention to detail.</li>
											<li>Able to understand and represent business and user needs, distilling insights to set strong road-map that meet short and long term needs.</li>
										</ul>
									</div>
								</div>
								<div class="love_working_here">
									<h2 class="title">Why You'll Working Here</h2>
									<div class="culture_description">
										<p>We hope VNG is a place where you build your career. Whether you want to pursue to be a manager or focus on professional development, we acknowledge and appreciate your talents. Therefore, we open up to you more promotion opportunities in VNG, and designed program to help you succeed in every single career path. </p>
									</div>
								</div>
								<div class="space-bottom"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!--End Row-->

		<div class="relative-job" style="margin-bottom: 5em">
			<h2 class="title">More Jobs For You</h2>
			<div class="jobs" id="job_1"> <!--id là mã tin-->
				<div class="job_contest" style="background-color: white">
					<div class="logo">
						<div class="logo-wrapper" title="Embracing challenges">
							<a href="#"></a>
							<img src="/img/company-logo/vng-logo.png" alt="VNG" width="100" height="100" style="margin-left: 10px">
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="job_description">
						<div class="job_body">
							<div class=details>
								<h2 class="title">
									<a href="#">500 Developer PHP Up to 1500$</a>
								</h2>
								<div class="salary">
									<span class="glyphicon glyphicon-usd"></span>
									<span class="salary-text">
										Up to 1500$
									</span>
								</div>
								<div class="hidden-xs"></div>
								<div class="description">VNG đang có đợt tuyển lập trình viên php</div>
								<div class=visible-xs></div>
							</div>
							<div class="city_and_posted_date hidden-xs">
								<div class="city">
									<div class="address">
										<div class="text-city">
											TP.HCM
										</div>
										<div class="other_address">
											Quận 1
										</div>
									</div>
								</div>
								<div class="distance-time-job-posted">
									<span class="distance-time">23h ago</span>
								</div>
							</div>
						</div>
						<div class="job-bottom">
							<div class="tab-list">
								<a class="job__skill ilabel" href="#">
									<span>PHP</span>
								</a>
								<a class="job__skill ilabel" href="#">
									<span>HTM5</span>
								</a>
								<a class="job__skill ilabel" href="#">
									<span>AngularJS</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

						<div class="jobs" id="job_1"> <!--id là mã tin-->
				<div class="job_contest" style="background-color: white">
					<div class="logo">
						<div class="logo-wrapper" title="Embracing challenges">
							<a href="#"></a>
							<img src="/img/company-logo/vng-logo.png" alt="VNG" width="100" height="100" style="margin-left: 10px">
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="job_description">
						<div class="job_body">
							<div class=details>
								<h2 class="title">
									<a href="#">500 Developer PHP Up to 1500$</a>
								</h2>
								<div class="salary">
									<span class="glyphicon glyphicon-usd"></span>
									<span class="salary-text">
										Up to 1500$
									</span>
								</div>
								<div class="hidden-xs"></div>
								<div class="description">VNG đang có đợt tuyển lập trình viên php</div>
								<div class=visible-xs></div>
							</div>
							<div class="city_and_posted_date hidden-xs">
								<div class="city">
									<div class="address">
										<div class="text-city">
											TP.HCM
										</div>
										<div class="other_address">
											Quận 1
										</div>
									</div>
								</div>
								<div class="distance-time-job-posted">
									<span class="distance-time">23h ago</span>
								</div>
							</div>
						</div>
						<div class="job-bottom">
							<div class="tab-list">
								<a class="job__skill ilabel" href="#">
									<span>PHP</span>
								</a>
								<a class="job__skill ilabel" href="#">
									<span>HTM5</span>
								</a>
								<a class="job__skill ilabel" href="#">
									<span>AngularJS</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

						<div class="jobs" id="job_1"> <!--id là mã tin-->
				<div class="job_contest" style="background-color: white">
					<div class="logo">
						<div class="logo-wrapper" title="Embracing challenges">
							<a href="#"></a>
							<img src="/img/company-logo/vng-logo.png" alt="VNG" width="100" height="100" style="margin-left: 10px">
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="job_description">
						<div class="job_body">
							<div class=details>
								<h2 class="title">
									<a href="#">500 Developer PHP Up to 1500$</a>
								</h2>
								<div class="salary">
									<span class="glyphicon glyphicon-usd"></span>
									<span class="salary-text">
										Up to 1500$
									</span>
								</div>
								<div class="hidden-xs"></div>
								<div class="description">VNG đang có đợt tuyển lập trình viên php</div>
								<div class=visible-xs></div>
							</div>
							<div class="city_and_posted_date hidden-xs">
								<div class="city">
									<div class="address">
										<div class="text-city">
											TP.HCM
										</div>
										<div class="other_address">
											Quận 1
										</div>
									</div>
								</div>
								<div class="distance-time-job-posted">
									<span class="distance-time">23h ago</span>
								</div>
							</div>
						</div>
						<div class="job-bottom">
							<div class="tab-list">
								<a class="job__skill ilabel" href="#">
									<span>PHP</span>
								</a>
								<a class="job__skill ilabel" href="#">
									<span>HTM5</span>
								</a>
								<a class="job__skill ilabel" href="#">
									<span>AngularJS</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div> <!--End Relatied Jobs-->
    </div>	
</div>
{{end}}