{{define "content"}}
	<div class="wrapper" style="background-color: #D3D3D3">
		<div class ="container" style="margin-top: 3.6em;margin-bottom:2em;background-color: white">
			<div class="row" >
				<div class="company-page">
					<div class="cover-images-cropped hidden-xs">
						<img src="/img/infocompany/vng.png" alt="VNG Coporation Headline Photo" width="100%">
					</div>
					<div class=col-md-4 style="border: 1px solid #D8D8D8;">
						<div class="logo-container">
							<div class="has-overtime logo">
								<img src="/img/company-logo/vng-logo.png" alt="VNG" width="300" height="300" >
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8">
						<div class="name-and-info">
							<h1 class="title">VNG Corparation</h1>
							<div class="address">
								<span class="glyphicon glyphicon-map-marker"></span>
								<span class="address__full-address" >Ho Chi Minh , District 11, Le Dai Hanh St </span>
							</div>
							<div class="company-info" style="margin-top: 20px;margin-bottom: 20px;">
								<span class="glyphicon glyphicon-cog" ></span>
								<span class="kind" style="padding-right: 50px">Product</span>
								<span class="glyphicon glyphicon-user"></span>
								<span class="people" style="padding-right: 50px">300-500</span>
								<span class="glyphicon glyphicon-calendar"></span>			
								<span class="calendar" style="padding-right: 50px">Monday to Friday</span>

							</div>
							<div class="working-date" style="margin-bottom: 20px">
								<span class="glyphicon glyphicon-globe"></span>			
								<span class="country">Viet Nam</span>			
							</div>
							<div class="overtime" style="margin-bottom: 20px">
								<span class="glyphicon glyphicon-time"></span>			
								<span class="OT">No OT</span>	
							</div>
						</div>
						<a href="#" title="" class="button-red btn-block">Follow</a>
					</div>
			</div>
		</div>
		<div class ="container" style="margin-top: 3.6em;background-color: white">
			<div class="row" >
				<div class="col-md-8 col-xs-12 col-left" style="border: 1px solid #D8D8D8;">
					<div class="panel">
						<div class="panel-heading">
							<h3 class="title">Make the Internet change Vietnamese lives</h3>
						</div>
						<div class="panel-body">
							<div class=paragraph>
								<p>VNG believes in the power of the Internet and sees it as its mission to bring Internet users meaningful experiences. Each day, millions of young Vietnamese entertain, network and make friends, shop online or engage in social activities through VNG products, which are the ways VNG creates value for the society.</p>
							</div>
							<h2 class="title">Our key Skill </h2>
							<div class="tab-list">
							<a class="job__skill ilabel" href="#">
								<span>PHP</span>
							</a>
							<a class="job__skill ilabel" href="#">
								<span>HTM5</span>
							</a>
							<a class="job__skill ilabel" href="#">
								<span>AngularJS</span>
							</a>
							</div>
							<h2 class="title">Why You'll Love Working Here</h2>
							<div class="top-3-reason">
								<ul>
									<li>A special working environment </li>
									<li>Learning opportunity </li>
									<li>Not just a job, where to build your career </li>
								</ul>
							</div>
							<div class="paragraph">
								<p>We hope VNG is a place where you build your career. Whether you want to pursue to be a manager or focus on professional development, we acknowledge and appreciate your talents. Therefore, we open up to you more promotion opportunities in VNG, and designed program to help you succeed in every single career path. </p>
							</div>
							<div>
								<br>
									<strong>NO SUIT, NO TIE: </strong>
									<p>At VNG, we do not have many rules because we respect you and want to make comfortable atmosphere to help employees perform their jobs well.</p>
								<br>
							</div>
							<div>
								<br>
									<strong>Company “pay” for you: </strong>
									<p>Lunch, parking, swimming, learning English or gym for free and you know you are really in care.</p>
								<br>
							</div>
							<div>
								<br>
									<strong>NO BARRIERS: </strong>
									<p>Office of VNG is an open space because we always try to remove all barriers to help members easily shares with each other.</p>
								<br>
							</div>
							<div>
								<br>
									<strong>Being a big family: </strong>
									<p>Like a gift for family day. A party for the kids. We know how much your family matters.</p>
								<br>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-12 col-right">
					<div class="panel company-rating">
						<div class="panel-heading">
							<h3 class="title">Feature Reviews</h3>
						</div>
						<div class="panel-body">
							<div class="review featured">
								<strong>"Đánh giá công ty"</strong>
								<span class="rating-stars-box">
									<i class="glyphicon glyphicon-star"></i>
									<i class="glyphicon glyphicon-star"></i>
									<i class="glyphicon glyphicon-star"></i>
									<i class="glyphicon glyphicon-star"></i>
									<i class="glyphicon glyphicon-star"></i>
								</span>
								<div class="paragaph">
									<p>Môi trường tốt, nhân viên hòa đồng. Cơ sở vật chất hiện đại</p>
								</div>
								<hr/>
							</div>
							<div class="review featured">
								<strong>"Môi trường tốt"</strong>
								<span class="rating-stars-box">
									<i class="glyphicon glyphicon-star"></i>
									<i class="glyphicon glyphicon-star"></i>
									<i class="glyphicon glyphicon-star"></i>
									<i class="glyphicon glyphicon-star"></i>
									<i class="glyphicon glyphicon-star"></i>
								</span>
								<div class="paragaph">
									<p>Môi trường trẻ năng động, nhân viên phát triển cống hiến.Có nhiều hoạt động vui chơi. Chế độ lương thưởng tương đối tốt</p>
								</div>
								<hr/>
							</div>
							<div class="review featured">
								<strong>Công ty thường được chọn vào Top 100 employers</strong>
								<span class="rating-stars-box">
									<i class="glyphicon glyphicon-star"></i>
									<i class="glyphicon glyphicon-star"></i>
									<i class="glyphicon glyphicon-star"></i>
									<i class="glyphicon glyphicon-star"></i>
								</span>
								<div class="paragaph">
									<p>Chế độ phúc lợi tốt. Công ty cố gắng đáp ứng các nhu cầu của Top 100 employers</p>
								</div>
								<hr/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class ="container" style="margin-top: 3.6em;background-color: white">
			<div class="relative-job" style="margin-bottom: 5em">
				<h2 class="title">More Jobs of Company For You</h2>
				<div class="jobs" id="job_1"> <!--id là mã tin-->
					<div class="job_contest" style="background-color: white">
						<div class="logo">
							<div class="logo-wrapper" title="Embracing challenges">
								<a href="#"></a>
								<img src="/img/company-logo/vng-logo.png" alt="VNG" width="100" height="100" style="margin-left: 10px">
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="job_description">
							<div class="job_body">
								<div class=details>
									<h2 class="title">
										<a href="#">500 Developer PHP Up to 1500$</a>
									</h2>
									<div class="salary">
										<span class="glyphicon glyphicon-usd"></span>
										<span class="salary-text">
											Up to 1500$
										</span>
									</div>
									<div class="hidden-xs"></div>
									<div class="description">VNG đang có đợt tuyển lập trình viên php</div>
									<div class=visible-xs></div>
								</div>
								<div class="city_and_posted_date hidden-xs">
									<div class="city">
										<div class="address">
											<div class="text-city">
												TP.HCM
											</div>
											<div class="other_address">
												Quận 1
											</div>
										</div>
									</div>
									<div class="distance-time-job-posted">
										<span class="distance-time">23h ago</span>
									</div>
								</div>
							</div>
							<div class="job-bottom">
								<div class="tab-list">
									<a class="job__skill ilabel" href="#">
										<span>PHP</span>
									</a>
									<a class="job__skill ilabel" href="#">
										<span>HTM5</span>
									</a>
									<a class="job__skill ilabel" href="#">
										<span>AngularJS</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="jobs" id="job_1"> <!--id là mã tin-->
					<div class="job_contest" style="background-color: white">
						<div class="logo">
							<div class="logo-wrapper" title="Embracing challenges">
								<a href="#"></a>
								<img src="/img/company-logo/vng-logo.png" alt="VNG" width="100" height="100" style="margin-left: 10px">
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="job_description">
							<div class="job_body">
								<div class=details>
									<h2 class="title">
										<a href="#">500 Developer PHP Up to 1500$</a>
									</h2>
									<div class="salary">
										<span class="glyphicon glyphicon-usd"></span>
										<span class="salary-text">
											Up to 1500$
										</span>
									</div>
									<div class="hidden-xs"></div>
									<div class="description">VNG đang có đợt tuyển lập trình viên php</div>
									<div class=visible-xs></div>
								</div>
								<div class="city_and_posted_date hidden-xs">
									<div class="city">
										<div class="address">
											<div class="text-city">
												TP.HCM
											</div>
											<div class="other_address">
												Quận 1
											</div>
										</div>
									</div>
									<div class="distance-time-job-posted">
										<span class="distance-time">23h ago</span>
									</div>
								</div>
							</div>
							<div class="job-bottom">
								<div class="tab-list">
									<a class="job__skill ilabel" href="#">
										<span>PHP</span>
									</a>
									<a class="job__skill ilabel" href="#">
										<span>HTM5</span>
									</a>
									<a class="job__skill ilabel" href="#">
										<span>AngularJS</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="jobs" id="job_1"> <!--id là mã tin-->
					<div class="job_contest" style="background-color: white">
						<div class="logo">
							<div class="logo-wrapper" title="Embracing challenges">
								<a href="#"></a>
								<img src="/img/company-logo/vng-logo.png" alt="VNG" width="100" height="100" style="margin-left: 10px">
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="job_description">
							<div class="job_body">
								<div class=details>
									<h2 class="title">
										<a href="#">500 Developer PHP Up to 1500$</a>
									</h2>
									<div class="salary">
										<span class="glyphicon glyphicon-usd"></span>
										<span class="salary-text">
											Up to 1500$
										</span>
									</div>
									<div class="hidden-xs"></div>
									<div class="description">VNG đang có đợt tuyển lập trình viên php</div>
									<div class=visible-xs></div>
								</div>
								<div class="city_and_posted_date hidden-xs">
									<div class="city">
										<div class="address">
											<div class="text-city">
												TP.HCM
											</div>
											<div class="other_address">
												Quận 1
											</div>
										</div>
									</div>
									<div class="distance-time-job-posted">
										<span class="distance-time">23h ago</span>
									</div>
								</div>
							</div>
							<div class="job-bottom">
								<div class="tab-list">
									<a class="job__skill ilabel" href="#">
										<span>PHP</span>
									</a>
									<a class="job__skill ilabel" href="#">
										<span>HTM5</span>
									</a>
									<a class="job__skill ilabel" href="#">
										<span>AngularJS</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!--End Relatied Jobs-->
		</div>
	</div>
{{end}}