.input{
    float: left;
    width: 350px;
    margin-left: 8px;
    padding-top: 3px;
    border: 0;
    position: relative;
    background: #fff;
    height: 30px;
    text-indent: 10px;
    font-size: 13px;
}

.clear {
    float: none !important;
    clear: both;
}
