.input{
    float: left;
    width: 350px;
    margin-left: 8px;
    padding-top: 3px;
    border: 0;
    position: relative;
    background: #fff;
    height: 30px;
    text-indent: 10px;
    font-size: 13px;
}

.clear {
    float: none !important;
    clear: both;
}

.icon-search{
    background-image: url(images/icon_search.png);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: 100% auto;
}

.content{
    display: block;
    overflow: hidden;
    width: 100%;
    height: auto;
    border: 1px solid #000;
}

.container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.grid_12 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.container_12 .grid_12 {
    width: 940px;
}

.content-item{
    width: 975px;
    margin-top: 15px;
}

.company-detail{
    width: 50%;
    float: left;
    margin-left: 20px;
}
