*{
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
a{
    text-decoration: none;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;

}
a:hover{
    color: red;
    text-decoration: none;
}

/*Job Recommed*/

.job-recommed{
    clear: both;
    z-index: 1;
}
.jobs .job_contest{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    position: relative;
    border: 2px solid #e7e7e7;
    overflow: hidden;
    font-weight: 200;
    padding: 27px 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
        
}
.jobs .job_contest:hover{
    box-shadow: inset 0px 0px 10px grey;
}
.job .job_content .logo {
    margin: 4px 30px 0 25px;
}
.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block; 
    clear: both;
}
.job__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: hidden;
    padding-left: 15px;
}
.job__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.jobs .job_content .details {
    font-size: 13px;
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.jobs .job_content .details .title {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 5px;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    line-height: 28px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.jobs .job_content .details .title a {
    color: #ea2635;
    text-decoration: none;
}
.job_content .title {
    font-family: "Roboto", sans-serif;
}

.title {
    color: #353535;
    line-height: 35.2px;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title, h1 {
    font-weight: 400;
    font-family: "Roboto Condensed", sans-serif;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h2 {
    font-size: 11pt;
    margin: 0;
}

h2, .h2 {
    font-size: 30px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.jobs .job_content .job_description .job-body .city_and_posted_date hidden-xs {
    font-size: 13px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: 100px;
    float: right;
}

.job .job_content .details .salary {
    display: inline-block;
    margin: 0;
    width: 210px;
}

.salary {
    font-size: 14px;
    color: #68ba50;
    margin-bottom: 10px;
}
.salary .salary-text {
    margin-left: 5px;
    position: relative;
    top: 3px;
}
.job .job_content .city_and_posted_date .city {
    color: #a6a8ab;
    display: block;
}
.job .job_content .city_and_posted_date .distance-time-job-posted {
    font-size: 13px;
}
.job .job_content .details .description {
    margin-top: 10px;
    color: #727272;
    text-align: justify;
    overflow: hidden;
    width: 100%;
    line-height: 1.3em;
}
.job .job_content .job-bottom {
    margin-top: 12px;
    width: 100%;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 20px;
}
.job .job_content .job-bottom .tag-list {
    margin: 0;
    display: inline-block;
}
.job .title, .job .description, .job .employer, .job .category, .job .skill_tags {
    margin-right: 40px;
}
.ilabel:visited {
    color: red;
}

.ilabel {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin: 0 10px 0 0;
    padding: 4px 5px;
    background: transparent;
    border: 1px solid #D2D3D3;
    color: #575656;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    line-height: 100%;
    display: inline-block;
}

/*Company Recommmed*/

.company-recommed{
    clear: both;
}
.company-recommed{
    
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


#top-company{
    color:black;
    border: 1px solid #D8D8D8;
    background: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    margin-top: 30px;

}
#top-company:hover{
    box-shadow: 5px 5px 5px grey;
}

.top-company__logo{
    width: 170px;
    height: 170px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 170px;
}

.top_company_name{
    margin-top: 10px;
    font-size: 20px;
    height: 60px;
}

footer.top-company__footer{
    margin-top: 20px;
    background: white;
}
.top-company__footer-job{
    font-size:16px;
}
.text-center{
    text-align: center;
}
.red-link{
    color: red;
}
div{
    display: block;
}

/*Thanh Search*/
.search-tool > div{
            margin:20px 0px;
        }

.search-tool .search-box .control {
    position: relative;
    width:100%;
}
.search-tool .search-button:hover{
    cursor:pointer;
}
.search-tool .search-button button:focus{
    outline:none !important;
    box-shadow: none;
}

.search-tool .search-box {
    position:relative;
}

.search-box > .search-list li{
    padding:10px;
}

.search-box > .search-list li:hover {
    background-color:#1246cc;
}

.search-box > .search-list li:hover a{
    color:white;
}

.search-box > .search-list li a {
    color:black;
}

.search-box > .search-list li a:link{
    text-decoration:none;
}


/*Sign in*/

.sign-in-action-wrapper {
    padding: 0 10px 10px;
}

.sign-in-action-wrapper .sign-in-button {
    height: 50px;
    font-size: 18px;
    color: #FFF;
    width: 100%;
    padding: 2px;
    line-height: 45px;
    cursor: pointer;
}

.sign-in-action-wrapper .gplus {
    background-color: #CC3E2F;
    margin-bottom: 15px;
}

.sign-in-action-wrapper .facebook {
    background-color: #4C66A4;
}

.tab-content {
    text-align: center;
}

.tab-content .hr {
    position: relative;
    text-align: center;
    margin: 14px 0;
    height: 0;
    width: 100%;
    padding-bottom: 14px;
}

.tab-content .hr > span {
    text-align: center;
    display: inline-block;
    position: relative;
    padding: 2px 10px;
    top: -1.9em;
    line-height: 1em;
    background-color: white;
}

.tab-content .message {
    margin-bottom: 20px;
    font-size: 19px;
}

.ibutton {
    border-radius: 5px;
    clear: both;
    text-align: center;
    outline: 0;
    border: 0;
}

.ibutton.x-large {
    padding: 10px 70px;
    font-size: 20px;
    cursor: pointer;
    width: auto;
}

.ibutton-red {
    background-color: #EA1E30;
    color: white;
}

/*Summary */
.about-div {
    padding: 30px;
}

.icon-round-border {
    border: 10px double #1A94C4;
    color: #2f9484;
    text-align: center;
    padding-top: 15px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.icon-round-border:hover {
    color: #fff;
    border: 10px double #fff;
    background-color: #1A94C4;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.about-div hr {
    border: 1px solid #1A94C4;
}

.about-div h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-div p {
    padding-top: 10px;
}

.btn-set {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    margin-bottom: 20px;
}
element.style {
    margin-top: 3px;
    margin-left: 80px;
    margin-right: 90px;
}
.modal-open[style] {
padding-right: 0px !important;
}

/*New footer*/
@import url(http://weloveiconfonts.com/api/?family=zocial);
*{
    margin:0;
    padding:0;
}

@font-face{
    font-family:'zocial', sans-serif;
}

[data-icon]:before{
    font-family:'zocial';
    content:attr(data-icon);
    -webkit-font-smoothing:antialiased;
}

body{
    font-family:'Verdana', sans-serif;
}

a{
    text-decoration:none;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -ms-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear;
}

.clear{ clear:both; }

footer{
    background-color:#2E3639;
    position:relative;
    z-index:1;
}

footer .splitter{
    background-color:#ac0;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
        color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
        color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
        to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
        transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
        transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
        transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
        transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
        transparent 75%, transparent);
    -webkit-background-size:50px 50px;
    -moz-background-size:50px 50px;
    background-size:50px 50px;
    
    -moz-box-shadow:1px 1px 8px gray;
    -webkit-box-shadow:1px 1px 8px gray;
    box-shadow:1px 1px 8px gray;
    height:20px;
}

/* Three columns */

footer > ul{
    list-style:none outside none;
    margin:0 auto;
    max-width:1200px;
    overflow:hidden;
    padding:25px 0;
    position:relative;
    width:95%;
}

footer > ul li{
    float:left;
    padding:20px 15px;
    width:33.3%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

footer > ul li:first-child{
    padding-left:0;
}

footer > ul li:nth-child(3){padding-right:0;}

footer > ul li .icon{
    color:#999999;
    float:left;
    font-size:80px;
    line-height:80px;
}

footer > ul li .text{
    color:#848889;
    font-size:13px;
    line-height:20px;
    margin-left:105px;
    position:relative;
    text-align:justify;
}

.text h4{
    color:#ffffff;
    font-size:24px;
    font-weight:bold;
    margin-bottom:10px;
}

.text a{
    border-bottom:1px dotted transparent;
    color:#FFDD00;
    font-weight:bold;
}

.text a:hover{
    border-color:#FFDD00;
}

/* bar section */

footer .bar{
    background-color:#1E2629;
    padding:20px 0;
}

footer .bar-wrap{
    font-size:12px;
    margin:0 auto;
    max-width:1200px;
    position:relative;
    width:95%;
}

.links{
    float:left;
    list-style:none outside none;
    position:relative;
}

.links li{
    float:left;
    margin-right:10px;
}

.links a{ color:#778888;}

.links a:hover{color:#FFFFFF;}

.social{
    position:absolute;
    right:0;
    top:0;
}

.social a{ color:#778888; margin-left:20px;}
.social a:hover{color:#ffffff;}
.social .icon{
    display:inline-block;
    font-size:36px;
    margin-right:5px;
    vertical-align:middle;
    -webkit-transition:-webkit-transform .3s linear;
    -moz-transition: -moz-transform .3s linear;
    -ms-transition:-ms-transform .3s linear;
    -o-transition:-ms-transform .3s linear;
    transition: transform .3s linear;
}

.social a:hover .icon{
   -webkit-transform:rotate(360deg);
   -moz-transform:rotate(360deg);
   -ms-transform:rotate(360deg);
   -o-transform:rotate(360deg);
    transform:rotate(360deg);
}

.social .info{
    display:inline-block;
    vertical-align:middle;
}

.social .info .num{display:block;}
.copyright{
    color:#778888;
    margin-top:5px;
    padding-left: 40px;
}

/* Responsive */
@media (min-width: 767px) {
   .navbar-nav .dropdown-menu .caret { transform: rotate(-90deg);}
}
.navbar-nav > li > .dropdown-menu { background-color: #D3D3D3; }

@media screen and (max-width:1000px){
    .links, .social, .copyright{
        float:none;
        text-align:center;
    }
    
    .social{
        position:relative;
        margin:10px 0;
    }
    
    .links li{
        display:inline-block;
        float:none;
    }
    
    .bar{
        position:relative;
    }
    
    .bar-wrap{
        margin-bottom:0;
    }
}

@media screen and (max-width: 835px)  {
    footer > ul li {
        float:none;
        width:auto;
    }
}

@media screen and (max-width: 768px)  {
    .links li {
        margin-right:5px;
    }
}

/*Menu*/


/* Slide */




